 body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100% }
        .clear {clear:both}
        .marker-text {text-align: center;font-weight: bold}
        .image{padding-top: 5px}
        .text-created{font-family: monospace; text-align: center; margin-bottom: 5px}
        .filterForm{
            position: absolute;
            top: 30px;
            right: 60px;
            width: 180px;
            height: auto;
            background-color: wheat;
            border: solid;
            text-align: center;
        }
        .form-title{
            padding-top: 5px;
            padding-bottom: 15px;
            font-size: xx-large;
        }
        .form-select{
            line-height: 36px;
            padding-left: 23px;
            float: left;
        }
        .form-icon{
            padding-right: 23px;
            float: right;
            height: 50px;
        }