body { background: #e8e8e8; }
.container { margin: 0 auto; }
.hidden {display: none;}
.menu-item{
    display: block;
    float: left;
    width: 10%;
    padding-right: 2%;
}
.menuTitle{
	text-align: center;
    height: 50px;
    line-height: 47px;
    font-size: 27px;
    background-color: aquamarine;
    border: 1px solid;
}
.clear{clear:both;}

/* Example wrapper */
.wrap {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 40px 3em 0;
}
.wrap:nth-child(2n) { margin-right: 0; }

/* Frame */
.frame {
	width: 100%;
	height: 321px;
	overflow: hidden;
	border: 1px solid #444;
}
.frame .slidee {
	padding: 20px 25px;
	background: #fff;
}
.frame ul.items {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 24px;
	line-height: 43px;
}
.frame ul.items li {
	float: left;
	width: 100%;
	height: 45px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul.items li.active {
	color: #fff;
	background: #a03232;
}

/* Scrollbar */
.scrollbar {
	position: absolute;
	right: -15px;
	width: 2px;
	height: 321px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }