body{
    background: url('../images/bg.jpg');
    background-position: top;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}

.pull-right{
    float:right;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

h1{
    font-size: 36px;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-style: oblique;
    margin: 15px 0;
    width:515px;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}

#header{
    width:960px;
    height:95px;
    position: relative;
    margin:0 auto;
}

#header .logo {
    background: url(../images/logo_95x95.png) no-repeat;
    cursor: pointer;
    height: 95px;
    width: 95px;
    left: 23px;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    position: relative;
    display: block;
}

#header .titlebar{
    width:427px;
    height:75px;
    overflow: hidden;
    text-align: center;
    background: url(../images/header.png) no-repeat;
    position: relative;
    left: 214px;
    top:2px;
}

#main {
    width:960px;
    height:480px;
    position: relative;
    margin:0 auto;
}

.hide { display:none; }

#title {
    cursor:pointer;
}

#menu {
    width:160px;
    position:absolute;
    left:0;
    top:9px;
    z-index: 10;
}

#menu > em{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 9px;
    float: left;
    text-shadow: 1px 1px 5px #ADADAD;
}
#menu > em span{
    font-size:24px;
    float: left;
    padding: 0 10px 0 0;
}

#menu ul, #upsell ul{
    position: relative;
    padding: 0;
    margin: 0;
}
#menu li, #upsell li{
    width: 120px;
    padding: 13px;
    list-style-position: inside;
    list-style: none;
    background: #ebebeb;
    margin:1px 0;

    cursor:pointer;
}

#menu li label{
    color: #fff;
    position: absolute;
    left:-20px;
    text-shadow: 1px 1px 3px rgb(49, 56, 50);
}

#menu > ul li, #upsell > ul li{
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-style: oblique;
    text-transform: uppercase;
    color: #555;
}

#menu li:first-child{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

#menu li:last-child{
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}


#menu li.complete{
    background-color: #ebebeb;
}
#menu li.active{
    background: #f39e21; /* Old browsers */
    background: -moz-linear-gradient(top,  #f39e21 0%, #f5ac40 50%, #f39e21 51%, #f5ac40 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f39e21), color-stop(50%,#f5ac40), color-stop(51%,#f39e21), color-stop(100%,#f5ac40)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f39e21 0%,#f5ac40 50%,#f39e21 51%,#f5ac40 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f39e21 0%,#f5ac40 50%,#f39e21 51%,#f5ac40 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f39e21 0%,#f5ac40 50%,#f39e21 51%,#f5ac40 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f39e21 0%,#f5ac40 50%,#f39e21 51%,#f5ac40 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39e21', endColorstr='#f5ac40',GradientType=0 ); /* IE6-9 */

    color:#fff;
}
#menu li.active span{
    color: #fff;
}
#menu li > ul{
    position:absolute;
    top:0;
    left:155px;
    padding:0 4px 0;

    overflow-y:auto;
    overflow-x: hidden;

    max-height:478px;
}

#upsell ul{
    position:relative;
    padding:0 4px 0;

    overflow-y:auto;
    overflow-x: hidden;

    max-height:478px;
}

#upsell .upsell-evaluation ul{
    max-height: 330px;
}

#menu li > ul > li, #upsell ul > li{
    position: relative;
    width:330px;
    background: #ebebeb;
    margin:0 10px 3px 1px;
    padding:0;
    float: left;

    list-style: none;
    list-style-position: inside;

    overflow: hidden;
}

#menu li > .img, #upsell li > .img {
    width:100px;
    height: 67px;
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    margin-right: 8px;
    overflow: hidden;
}

#menu li > ul > li:hover, #upsell ul > li:hover{
    background: #f39e21;
    color:#fff;
}

#menu li > ul > li.selected, #upsell ul > li.selected{
    background:none;
    background-color: #CCCCCC;
    color:#555;
    cursor:default;
}

#menu li > ul > li.disabled,
#menu li > ul > li.oos,
#upsell li > ul > li.disabled{
    color: #ccc;
}

#menu li > ul > li.disabled .img,
#menu li > ul > li.oos .img{
    opacity:0.2;
}

#menu li > ul > li.oos:hover{
    background-color: #ccc;
    color:#fff;
}
#menu li > ul > li.disabled:hover, #upsell li > ul > li.disabled:hover{
    background-color: #BA4C4B;
}

#list{
    width: 330px;
    overflow-y: auto;
    padding-bottom:5px;
}

#list img{
    background:#ccc;
    margin:0 10px 0 0;
}

#list h3{
    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin:8px 16px 0;
}

#list .brand{
    font-size: 12px;
    margin-bottom:8px;
    font-family: Arial;
}

#list .price{
    font-size: 14px;

}

#list .more{
    font-size: 12px;
    position:absolute;
    right:15px;
    bottom:-5px;

    display: inline-block;
    cursor: help;
    background-color: #BEBEBE;
    color: #FFF;
    padding: 8px 16px;
    -webkit-box-shadow: -6px 6px 6px -5px rgba(71,71,71,1);
    -moz-box-shadow: -6px 6px 6px -5px rgba(71,71,71,1);
    box-shadow: -6px 6px 6px -5px rgba(71,71,71,1);
}

#list .remove{
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    right: 75px;
    bottom: -5px;
    display: inline-block;
    background-color: #BEBEBE;
    color: #FFF;
    padding: 8px 8px;
    -webkit-box-shadow: -6px 6px 6px -5px #474747;
    -moz-box-shadow: -6px 6px 6px -5px rgba(71,71,71,1);
    box-shadow: -6px 6px 6px -5px #474747;
    border:0;
}

#list .more:hover, #list .remove:hover{
    bottom:0;
    color:#555;
}

#details{
    position: absolute;
    left: 504px;
    top: 10px;
    background: #CCC;
    width: 350px;
    min-height: 361px;
    overflow-y: auto;
    z-index: 20;
}
.upsell-list{
    float:left;
    margin-right:18px;
}
.upsell-details, .upsell-evaluation{
    position: absolute;
    right:40px;
    background: #CCC;
    width: 350px;
    min-height: 361px;
    overflow-y: auto;
    z-index: 20;
}

.upsell-evaluation{
    z-index: 19;
    background: transparent;
    font-size: 12px;
}
#upsell .upsell-evaluation li{
    padding:10px;
    cursor:text;
}
#upsell .upsell-evaluation li:hover{
    background: #ebebeb;
    color:#111;
}
.upsell-evaluation h3{
    float: left;
    width: 269px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: normal;
    margin:0;
}

.upsell-evaluation h2 span{
    float:right;
}
.upsell-evaluation > div:last-child{
    border-top: 2px solid #CCC;
    margin-top: 10px;
}

.upsell-evaluation .price{
    float:left;
    font-size: 14px;
    font-weight: normal;
}

#details .img, .upsell-details .img{
    width: 350px;
    min-height: 240px;
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    position: relative;
    text-align: center;
    border-bottom:2px solid #BABABA;
}

#details .incompatible{
    position: absolute;
    z-index: 4;
    width: 100px;
    background: #fff;

    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
}
#details .incompatible img{
    max-width:100px;
    max-height: 100px;
}

#details .incompatible div{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #AA0000;
    bottom: 0;
    width:100%;
}

#details .incompatible .remove{
    background-color: #ccc;
    color:#fff;
    width: auto;
    position:absolute;
    float: left;
    margin-left: 75px;
    padding: 2px 7px;
    font-style: normal;
    display: none;
    cursor:pointer;

    -webkit-box-shadow: -6px 6px 6px -5px #474747;
    -moz-box-shadow: -6px 6px 6px -5px rgba(71,71,71,1);
    box-shadow: -6px 6px 6px -5px #474747;
}

#details .incompatible .remove:hover{
    background: #AA0000;
}

#details .incompatible:hover .remove{
    display: block;
}

#details .shadow,.upsell-details .shadow  {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px -39px 137px 37px #EBEBEB;
    -moz-box-shadow: inset 0px -39px 137px 37px rgba(235,235,235,1);
    box-shadow: inset 0px -39px 137px 37px #EBEBEB;
    display:none;
}

#details .shadow.red{
    -webkit-box-shadow: inset 0px -39px 137px 37px rgba(170, 0, 0, 0.43);
    -moz-box-shadow: inset 0px -39px 137px 37px rgba(170, 0, 0, 0.43);
    box-shadow: inset 0px -39px 137px 37px rgba(170, 0, 0, 0.43);
}

#details .content, .upsell-details .content{
    margin: 15px;
    font-size:14px;
    font-family:Arial, SANS-SERIF;
    text-transform: none;
 }

#details h2, #details strong, .upsell-details h2, .upsell-details strong{
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-style: oblique;
    font-size: 16px;
    text-transform: uppercase;
    color: #555;
}

#details button,.upsell-details button{
    float:right;
    margin: -10px 0 15px;
}

#wizard {
    position:absolute;
    top:8px;
    right:0;
    z-index: 10;
}

#wizard li{
    display:inline-block;
    list-style-position: inside;
    cursor:pointer;
}

#wizard button, .content button {
    background: #5a646b;
    background-image: -webkit-linear-gradient(top, #5a646b, #17252e);
    background-image: -moz-linear-gradient(top, #5a646b, #17252e);
    background-image: -ms-linear-gradient(top, #5a646b, #17252e);
    background-image: -o-linear-gradient(top, #5a646b, #17252e);
    background-image: linear-gradient(to bottom, #5a646b, #17252e);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 5px;
    border:0;

    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 20px;
    text-decoration: none;
}

#wizard button:hover, .content button:hover {
    background: #D79331;
    text-decoration: none;
}

.checkout button {
    background: #5a646b;
    background-image: -webkit-linear-gradient(top, #5a646b, #17252e);
    background-image: -moz-linear-gradient(top, #5a646b, #17252e);
    background-image: -ms-linear-gradient(top, #5a646b, #17252e);
    background-image: -o-linear-gradient(top, #5a646b, #17252e);
    background-image: linear-gradient(to bottom, #5a646b, #17252e);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 5px;
    border:0;

    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 20px;
    text-decoration: none;

    font-size: 18px;
    font-weight: normal;
    font-family: "Russo One",sans-serif;
    text-transform: uppercase;
}

#checkout #cart{
    background: #fafafa;
    background-image: -webkit-linear-gradient(top, #fafafa, #a1a1a1);
    background-image: -moz-linear-gradient(top, #fafafa, #a1a1a1);
    background-image: -ms-linear-gradient(top, #fafafa, #a1a1a1);
    background-image: -o-linear-gradient(top, #fafafa, #a1a1a1);
    background-image: linear-gradient(to bottom, #fafafa, #a1a1a1);
}

#checkout button:hover, #checkout #cart.checkoutReady, #upsell .checkout {
    background: #D79331;
    text-decoration: none;
}

#upsell .checkout{
    font-family: russo one;
    font-size: 18px;
    text-transform: uppercase;
}

#stats{
    position:absolute;
    left: 160px;
    bottom: 40px;
    z-index: 1;
}

#stats #graph{
    width:200px;
    height:140px;
    font-family: "courier new";
}

#graph h4{
    font:24px normal "courier new";
    text-transform: uppercase;
    margin: 0;
}

#stats #price{
    font-size: 32px;
    font-weight: normal;
    font-family: "Russo One",sans-serif;
    color: #aa0000;
}

#title{
    position:absolute;
    left:160px;
    top:0;
    z-index: 9;
}

#checkout {
    position:absolute;
    right:0;
    bottom:40px;
    z-index:10;
}
#gun {
    position:relative;
    top:65px;
    left:90px;
    width:990px;
    height:315px;
    z-index: 2;
    float: right;
}
#gun img, #gun svg{
    position:absolute;
    right: 0;
}

#gun #clickCatch{
    position: absolute;
    z-index: 10;
    width: 100%;
    height:100%;
}

svg {
    background:transparent;
}

.path-controls{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.path-controls input{
    margin: 0 2px;
    position: relative;
    top: 2px;
}

path {
    fill: transparent   ;
    stroke: transparent;
    stroke-width: 60;
    stroke-linejoin:round;
    stroke-linecap:round;
    opacity: 1;
}

path.base{
    fill: rgba(0, 0, 0, 0.05);
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width:10;
}

path.error {
    stroke: rgba(194, 10, 27, 0.60);

    -webkit-animation: pulsate 1.25s ease-out;
    -webkit-animation-iteration-count: infinite;
}
path.next  {
    stroke: rgba(118, 255, 145, 0.60);
    stroke-width: 60;
    -webkit-animation: pulsate 1.25s ease;
    -webkit-animation-iteration-count: infinite;

}
path.optional  {
    stroke:  rgba(255, 223, 2, 0.60);
}

@keyframes pulsate {
    0% {stroke-width:50;}
    50% {stroke-width:20;}
    100% {stroke-width:50;}
}

.backdrop{
    background-color: rgba(255, 255, 255, 0.8);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 20;
    overflow-x:hidden;
    /*-webkit-box-shadow: inset 0px -39px  220px 176px #EBEBEB;*/
    /*-moz-box-shadow: inset 0px -39px  220px 176px rgba(235,235,235,1);*/
    /*box-shadow: inset 0px -39px  220px 176px #EBEBEB;*/
}
#upsell{
     margin:0 auto;
     margin: 0 auto;
     width: 716px;
     padding: 40px 40px 60px;
     background: #FFF;
     position: relative;

     font-family: "russo one";
     font-weight: normal;
     text-transform: uppercase;

     -webkit-box-shadow: 0px 0px 25px 0px #BFBFBF;
     -moz-box-shadow: 0px 0px 25px 0px rgba(191,191,191,1);
     box-shadow: 0px 0px 25px 0px #BFBFBF;
 }
#finalOrder{
    margin:0 auto;
    margin: 0 auto;
    width: 716px;
    padding: 40px 40px 60px;
    background: #FFF;
    position: relative;

    font-family: "Arial";
    font-size:12px;
    font-weight: normal;

    -webkit-box-shadow: 0px 0px 25px 0px #BFBFBF;
    -moz-box-shadow: 0px 0px 25px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 25px 0px #BFBFBF;
}

#finalOrder h3, #finalOrder h2, #finalOrder strong{
    font-family: "russo one";
    font-size: 18px;
    text-transform: uppercase;
}

#finalOrder h2, #finalOrder strong{
    font-size:22px;
}

#finalOrder strong{
    color: #aa0000;
}

#finalOrder .half{
    float: left;
    margin: 10px 20px;
    padding: 10px 40px;
    border: 1px solid #EBEBEB;
}


#finalOrder .third{
    float: left;
    width: 185px;
    height: 324px;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    border: 1px solid #EBEBEB;
}

#finalOrder .third.choice{
    background-color: #ebebeb;
    top: -10px;
    position: relative;
    height: 344px;
    width: 184px;
    border: 4px solid #ccc;
}

#finalOrder .third, #finalOrder .third ul{
    margin: 15px 0;
    padding: 0 15px;
}

#finalOrder .third button{
    margin:10px;
}

.text-center{
    text-align:center;
}
.message-box{
    width: 400px;
    margin: 0 auto;
    top: 22%;
    position: relative;
    padding: 40px 40px 60px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 25px 0px #BFBFBF;
    -moz-box-shadow: 0px 0px 25px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 25px 0px #BFBFBF;
}

@keyframes pulse {
    0% {
        background: #333333;
    }

    80% {
        background: #D79331;
    }

    100% {
        background: #333333;
    }
}

#next.pulse {
    animation: pulse 1s ease-out infinite;
}

#popup{
    width:500px;
    margin:0 auto;
    top: -1000px;
    position: relative;
    padding: 40px 40px 60px;
    background: #FFF;

    -webkit-box-shadow: 0px 0px 25px 0px #BFBFBF;
    -moz-box-shadow: 0px 0px 25px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 25px 0px #BFBFBF;

    color:#666;
}
#popup .content{
    text-align: center;
}
#popup p, #popup button{
    font: 18px normal "Russo One";
}
#popup .share{
    text-align: center;
}
#popup .share img{
    width:163px;
}
#popup input{
    padding: 8px;
    font-style: oblique;
    font-family: russo one;
    color: #666;
}

#popup .checkout{
    text-align: left;
}
