.lowest, .lowest td, .lowest th{
    background: #76AE76 !important;
    color:#fff;
}
.strikethrough{
    text-decoration: line-through;
}
.margin-top{margin-top:20px;}
.margin-bottom{margin-bottom:20px;}
.margin-left{margin-left:20px;}
.margin-right{margin-right:20px;}
.margin-row{margin:20px 0;}
.margin-column{margin:0 20px;}
.margin{margin:20px;}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.marked{
  background-color: red;
}
.active{
    background-color: lightgreen;
  }
  .disabled{
    background-color: lightcoral;
  }

  .button_group{
    margin-bottom: 20px;
    height:26px;
  }