/* preview style examples */
body {
	background-color:#EFEFEF;
	font:70% Verdana, Arial, Helvetica, sans-serif;
}

p{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.message .arrow {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-right: 10px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: -2px;
}

.message {
    background: #000;
    color: #FFF;
    padding: 15px 20px;
    float: left;
    #margin: 39px;
    width: 360px;
    z-index: 2000;
    #position: absolute;
    -webkit-box-shadow: 0px 26px 36px -9px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 26px 36px -9px rgba(0,0,0,0.49);
    box-shadow: 0px 26px 36px -9px rgba(0, 0, 0, 0.49);
    display: none;
}