/* preview style examples */
body {
	background-color:#EFEFEF;
	font:70% Verdana, Arial, Helvetica, sans-serif;
}

.explain {
	#position: absolute;
	width: 292px;
	background-color: #B7B5B0;
	padding: 15px;
	height: auto;
	color: #fff;
	font-family: arial;
	text-transform: none;
	#display: none;
	font-size: 12px;
}
.explain h4 {
	font-family: "Russo One";
	font-size: 18px;
	text-transform: uppercase;
	color: #0E7107;
	margin:0 !important;
}

.explain span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #B7B5B0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    position: absolute;
}

p{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

strong {
	font-size: 23px;
	font-weight: normal;
	font-family: "russo one", "sans-serif";
	display: block;
	text-transform: uppercase;
	color: #A52626;
}

.message .arrow {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-right: 10px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: -2px;
}