#hero{
    position: relative;
    width: 970px;
    height: 446px;
    border: 10px solid #eee;
}
#hero.sale{
    border-color: #A52626;
}
#hero.oos{
    border-color: #ccc;
}
.notificationBar{
    display:none;
    width: 310px;
    height: 16px;
    color: #FFF;
    position: absolute;
    bottom: 49px;
    right: 0;
    z-index: 10;
    font-family: "russo one", "sans-serif";
    font-size: 24px;
    padding: 10px;
    text-align: center;
}
#hero.sale .notificationBar{
    display:block;
    background: #A52626;
}
#hero.oos .notificationBar{
    display: block;
    background: #ccc;
}
#hero.sale .shadow{
    box-shadow: inset 0px -39px 137px 37px #F2D0D0;
}
#hero .mainImage{
    float: left;
    width: 980px;
    height: 350px;
    margin: 50px 0px;
    position: relative;
    background: url(/Images/ajax-loader.gif) no-repeat center center;
}

#hero .mainImage .highlight, #hero .imgAction{
    margin:auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#hero .imgAction{
    z-index: 4;
    width: 400px;
    height: 400px;
    cursor:pointer;
}

#hero .shadow{
    position:absolute;
    z-index: 3;
    width:100%;
    height:100%;
    -webkit-box-shadow: inset 0px -39px 137px 37px rgba(235,235,235,1);
    -moz-box-shadow: inset 0px -39px 137px 37px rgba(235,235,235,1);
    box-shadow: inset 0px -39px 137px 37px rgba(235,235,235,1);
}
#hero .title{
    position:absolute;
    z-index:10;
    padding:20px;
}
#hero h1{
    font-size:27px;
    line-height: 24px;
    font-family: 'Russo One', sans-serif;
}
#hero .rate{
    float: left;
    margin: 11px -1px;
}
#actionArea{
    width:650px;
    height:100px;

    position:relative;
    z-index:10;
    margin-top:-60px;
}
#actionArea .thumbs{
    position:absolute;
    top:0;
    left: -5px;
    width: 558px;
    height: 80px;
}
.thumbs li{
    float:left;
}
.thumbs a{
    float:left;
    display:block;
    width:60px;
    height:auto;
    border: 3px solid white;
}
.thumbs img{
    width:60px;
    float:left;
}

ul.polaroids{
    position: absolute;
    width: 10000px;
    top: 0px;
    left: 0px;
    padding: 10px 0;
}
.carousel-nav{
    display:none;
    margin-top: 40px;
    cursor: pointer;
}
/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    border:1px solid #ccc;
    background: #fff url(/Images/ajax-loader.gif) no-repeat center center;
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
    position: relative;
    top: 8px;
    right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
    position: relative;
    top: 3px;
    left: -5px;
}
ul.polaroids a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5;
}
ul.polaroids a:hover {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
ul.polaroids a:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

ul.polaroids a.active{
    border:3px solid;
}

#hero .pricing{
    position: absolute;
    z-index:10;
    bottom: 0;
    margin-bottom: 80px;
    margin-left: 20px;
}

#hero .price{
    font-family: "russo one", "sans serif";
    font-weight: normal;
    color: #C02A2A;
    font-size: 32px;
}

.buy{
    float: left;
    width: 285px;
    padding: 13px 31px;
    background: #FFF;
    position: relative;
    left: -30px;
    top: -11px;
}

#actionArea .buyarea{
    margin:auto;
}

#actionArea .buyarea div{
    text-align:center;
}

#actionArea .buyarea input{
    margin:0 auto;
}

.shareLinks{
    float:right;
}

#hero .buyBg{
    position:absolute;
    width:330px;
    height:50px;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:10;

    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}
.lowest{
    display: inline-block;
    width: 50px;
    line-height: 10px;
    text-transform: capitalize;
    margin: 5px 10px;
    color:#E39C39;
}
.specifications {
    width:660px;
    float:left;
    overflow:hidden;
}
.specifications li{
    float: left;
    width: 300px;
    line-height: 29px;
    border-top: 1px solid #CACACA;
    padding-left: 10px;
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.description{
    width:660px;
    float:right;
    position: relative;
    z-index: 20;
}
.tabs {
    width: 100%;
    float: left;
    margin-top: 24px;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 20px;
    position:relative;
    z-index:1;
}
.tabs li{
    float: left;
    line-height: 30px;
    font-size: 17px;
    font-family: 'Russo One', sans-serif;
    padding: 6px 10px;
    margin-right: -1px;
    border: 1px solid #CACACA;
    text-align: center;
    cursor: pointer;
    position: relative;
    background: #fff;
    z-index: 2;
    margin-bottom:-1px;
}

.tabs .active{
    color:#111;
    border-bottom-color:#fff;
}

.others{
    width: 310px;
    float: right;
    margin-left: 20px;
    z-index: 30;
    position: relative;
    margin-top: -90px;
}
.alsolike{
    border-top: 1px solid #CACACA;
    position:relative;
    float:left;
    z-index:1;
}
.alsolike li{
    border-bottom: 1px solid #cacaca;
    display:block;
    float:left;
    width:310px;
    padding:20px 0 0;
}
.alsolike a{
    display:block;
    float:left;
}
.alsolike a.img{
    width:110px;
    height:110px;
    text-align: center;
}
.alsolike h3 {
    float:left;
    width: 200px;
    margin-bottom:10px;
}
.others h2{
    float: left;
    width: 174px;
    line-height: 30px;
    font-size: 17px;
    font-family: 'Russo One', sans-serif;
    padding: 6px 0px;
    margin-right: -1px;
    border: 1px solid #CACACA;
    border-bottom: none;
    background: #FFF;
    text-align: center;
    margin-bottom: -1px;
    z-index: 2;
    position: relative;
    margin-top:40px;

}
#relatedAccordion{
    float:left;
    margin-top:40px;
}

#relatedAccordion .relDropDown{
    height:auto;
    padding: 4px;
    font-size:14px;
}

.reviews{
    display:none;
    height: 900px;
    overflow-y:auto;
}
.pane{
    display:none;
    padding:10px;
}
.pane.active{
    display:block;
}

#hero .buttonBar{
    width: 90px;
    position: absolute;
    right: 0;
    top: 100px;
    font-size: 24px;
    z-index: 4;
}

#hero .buttonBar div{
    border: 4px solid #CCC;
    border-radius: 27px;
    padding: 10px 10px;
    width: 25px;
    margin: 16px;
}

#hero .buttonBar a{
    color:#ccc;
    margin:1px;
}
#hero .buttonBar .active{
    border-color:#d09c4c;
}
#hero .buttonBar .active a{
    color:#d09c4c;
}

.video-container img{
    width:350px;
}

.video-container i{
    font-size: 67px;
    width: 100px;
    display: block;
    position: absolute;
    z-index: 1;
    color: #FFF;
    top: 145px;
    bottom: 0;
    left: 56px;
    right: 0;
    margin: auto;
    text-shadow: 0px 1px 42px #FF9B00;
}
ul.span-3{
    width:100%;
    margin:10px 0;
}

#freeShip-flag{
    position: absolute;
    bottom: 165px;
    left: -32px;
    background: #FFF;
    z-index: 10;
    padding: 13px;
    font-size: 15px;
    font-weight: normal;
    font-family:"russo one", "sans-serif";
    text-transform: uppercase;
    color: #A52626;
    border: 1px solid #EBEBEB;

    -webkit-box-shadow: 13px 9px 36px -15px rgba(122,122,122,0.58);
    -moz-box-shadow: 13px 9px 36px -15px rgba(122,122,122,0.58);
    box-shadow: 13px 9px 36px -15px rgba(122,122,122,0.58);
    cursor:pointer;
}

#freeShip-addToCart{
    position:relative;
    float: left;
    background: #FFF;
    z-index: 100;
    padding: 13px;
    border: 1px solid #EBEBEB;
    -webkit-box-shadow: 13px 9px 36px -15px rgba(122, 122, 122, 0.58);
    -moz-box-shadow: 13px 9px 36px -15px rgba(122,122,122,0.58);
    box-shadow: 13px 9px 36px -15px rgba(122, 122, 122, 0.58);
    cursor:pointer;
}

#freeShip-addToCart strong{
    font-size: 23px;
    font-weight: normal;
    font-family:"russo one", "sans-serif";
    display:block;
    text-transform: uppercase;
    color: #A52626;
}

.explain{
    position: absolute;
    width: 292px;
    background-color: #B7B5B0;
    padding: 15px;
    height: 80px;
    color: #fff;
    font-family: arial;
    text-transform: none;
    display:none;
    font-size:12px;
}

.explain span{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #B7B5B0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    position: absolute;
}

.explain h4{
    font-family: "Russo One";
    font-size: 18px;
    text-transform: uppercase;
    color: #A52626;
}

.explain li{
    margin:4px 0;
}

#freeShip-flag .explain{
    left: 49px;
    top: -116px;
}

#freeShip-flag:hover .explain{
    display:block;
}

#freeShip-flag .explain span{
    bottom: -15px;
    left: 0px;
}
#freeShip-addToCart .explain{
    left: -330px;
    top: -85px;
}

#freeShip-addToCart:hover .explain{
    display:block;
}

#freeShip-addToCart .explain span{
    bottom: 0;
    right: -15px;
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent #b7b5b0;
}

#configureThis{
    float: right;
    position: relative;
    right: 111px;
    background-color: #eee;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ACACAC;
    cursor:pointer;
}